@charset "utf-8";

:root {
    --app-background-dark: rgb(24, 23, 32);
}
  
body {
    background-color: var(--app-background-dark);
    display: grid;
    justify-content: center;
    place-items: center;
    height: 100vh;
    width: 100%;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    color: #fff;
}

.options {
    margin-top: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

select {
    width: 180px;
    height: 40px;
    background-color: #ffffff26;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}

select option {
    color: black;
}

button {
    height: 42px;
    width: 120px;
    color: #fff;
    background-color: #09f;
    font-size: 20px;
    border-radius: 5px;
}

.output {
    display: grid;
    grid-auto-rows: 80px;
    grid-template-columns: repeat(5, 1fr); /* Two columns */
    gap: 20px; /* Gap between grid items */
    width: 98%;
    height: 380px;
    margin-top: 25px;
    background-color: #ffffff26;
    transform: rotateX(180deg);
}

.blue {
    background-color: #09f;
}

.green {
    background-color: #9f0;
}

.orange {
    background-color: #f90;
}

.pink {
    background-color: #f09;
}

.purple {
    background-color: #90f;
}

.square {
    width: 80px;
    height: 80px;
    border-radius: 1px;
    cursor: pointer;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.message {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    position: relative;
    height: 40px;
}